<template name="ProviderSetupModal">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">Setup providers</button>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Provider Setup</h4>
                </div>
                <div class="modal-body">
                    {{> wizard id="setup-wizard" steps=steps}}
                </div>
            </div>
        </div>
    </div>
</template>
