<template name="ExaplanationsOfBenefits">
    <h3 class="panel-title pull-left">Exaplanations of Benefits <small>Deductible: ${{EOBDeductible}} Individual / ${{EOBFamilyValue}} Family</small></h3>
    <hr>
    <div class="panel-body clearfix">
        <h4>Deductible Breakdown <small>Learn more</small></h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Zones</th>
                    <th>Limit</th>
                    <th>Applied</th>
                    <th>Remainder</th>
                </tr>
                </thead>
                <tbody>
                {{#each deductibleBreakdownMainList }}
                    <tr>
                        <th scope="row">{{plan_name}}</th>
                        <td>${{limit}} </td>
                        <td>${{applied}}</td>
                        <td>${{remainder}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
      {{#if showSecondList}}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                            Additional Benefits
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Zones</th>
                                    <th>Limit</th>
                                    <th>Applied</th>
                                    <th>Remainder</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each deductibleBreakdownSecondList }}
                                    <tr>
                                        <th scope="row">{{plan_name}}</th>
                                        <td>${{limit}} </td>
                                        <td>${{applied}}</td>
                                        <td>${{remainder}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>
