/* Write your custom CSS here */
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #585050;
}

label {
    font-size: 12px;
    font-weight: 400;
}