<template name="home">

    {{#contentFor "pagetitle"}}
        <h3>Overview</h3>
    {{/contentFor}}

    {{#contentFor "breadcrumbs"}}
        <li class="active">Overview</li>
    {{/contentFor}}

    <div class="panel panel-white col-lg-12 col-md-12">
        <div class="col-lg-12">
            {{#if $eq providerRateLoadCompleted false}}
               {{> LoadingProviderData}}
            {{/if}}
        </div>
        {{#if claimsDataLoad }}
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h2>Your Plan Performance<small></small></h2>
            </div>
            <div class="col-lg-6 text-right">
                <h2><small><label class="form-inline">Filter your view:
                        <select name="family" id="familyselect" class="form-control">
                            <option class="selectedmember" value="{{memberFamilyItem._id}}">{{memberFamilyItem.member_name}} (All)</option>
                            <!--<option value="You" selected>You</option>-->
                            {{# each memberList}}
                                {{# if $neq member_name memberFamilyItem.member_name }}
                                    <option value="{{_id}}">{{member_name}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                </label>
                    <div id="daterange" class="selectbox pull-right">
                        <i class="fa fa-calendar"></i>
                        <span>August 1, 2015 - August 31, 2015</span> <b class="caret"></b>
                    </div>
                </small></h2>
            </div>
        </div>
        {{/if}}
        <div class="panel-body panel-white col-lg-12 col-md-12">
        {{#if claimsDataLoad }}
                {{#if partialDataLoad}}
                <div class="col-lg-6 col-md-8" id="dvPlanPerformance">
                    <h4 class="panel-title pull-left">
                        Cost of Insurance vs. Realized Value <small> Since Jan 2015. Learn more</small></h4>
                    <hr>
                    {{#if $eq providerRateLoadCompleted false}}
                       <img src="/images/Spinner.gif">
                    {{/if}}
                    <div class="col-lg-12 panel-body clearfix">
                        <div>
                            {{#if HasPlanPerformance}}
                                {{> CostOfInsurance}}
                            {{else}}
                                <a href="#" id="linkSetupGraph" class="btn btn-success btn-block">Click here to setup this graph.</a>

                                <div id="setupGraphPanel" class="panel panel-white" style="display : none">
                                    <div class="panel-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">How much do you pay : </label>
                                                <input type="number" class="form-control" id="inputToPay" placeholder="Enter value">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">How ofter :</label>
                                                <select class="form-control m-b-sm" id="selectPeriod">
                                                    <option>Weekly</option>
                                                    <option>Bi-Weekly</option>
                                                    <option>Monthly</option>
                                                    <option>Yearly</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">For which provider :</label>
                                                <select class="form-control m-b-sm" id="selectProvider">
                                                    <option>Aetna</option>
                                                </select>
                                            </div>

                                            <button type="button" id="submitGraphSetup" class="btn btn-primary">Set up Graph</button>
                                        </form>
                                    </div>
                                </div>
                            {{/if}}


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8" id="dvClaims">                
                    <h4 class="panel-title pull-left">
                        Amount of claims filed<small> Since Jan 2015. Learn More</small></h4>
                    <hr>
                    {{#if $eq providerRateLoadCompleted false}}
                       <img src="/images/Spinner.gif">
                    {{/if}}
                    <div class="col-lg-12 panel-body clearfix">
                        <div>
                            {{> ClaimsChart}}
                        </div>
                    </div>
                </div>
                {{/if}}
            <div class="col-lg-6 col-md-12" id="dvEOB">
                {{> ExaplanationsOfBenefits}}
            </div>
            <div class="col-lg-6 col-md-12">
                {{> CurrentExpenditures}}
            </div>
            {{else}}
                {{> noData}}
            {{/if}}
        </div>
    </div>
</template>
