<template name="progressCircle">
  {{#with sizeCalc progress radius class}}
      <svg xmlns="http://www.w3.org/2000/svg" {{svgSize}} class="ui-progress-circle">
          <path id="progress" {{progressLine progressCalc radiusCalc}} class="{{className}}"/>
          <circle id="background" cx="{{radiusCalc}}" cy="{{radiusCalc}}" r="{{radiusA}}" class="{{className}}" />
          <circle id="stroke" cx="{{radiusCalc}}" cy="{{radiusCalc}}" r="{{radiusB}}" fill="none" class="{{className}}" stroke-width="{{strokeWidth}}"/>
          <text id="text" x="{{radiusCalc}}" y="{{radiusCalc}}" text-anchor="middle" dominant-baseline="central" class="{{className}}" font-size="{{fontSize}}" font-weight="bold">{{progressCalc}}</text>
      </svg>
  {{/with}}
</template>