/*****************************************************************************/
/* ProgressCicle: Style */
/*****************************************************************************/
/* The text in center */
svg.ui-progress-circle #text.red {
    fill: red;
}
/* Background of mid circle */
svg.ui-progress-circle #background.red {
    fill: #F7F6F4;
}
/* Circle stroke around text */
svg.ui-progress-circle #stroke.red {
    stroke: red;
    opacity: .5;
}
/* Progress marker */
svg.ui-progress-circle #progress.red {
    fill: red;
}

/* The text in center */
svg.ui-progress-circle #text.green {
    fill: #76B13C;
}
/* Background of mid circle */
svg.ui-progress-circle #background.green {
    fill: #F7F6F4;
}
/* Circle stroke around text */
svg.ui-progress-circle #stroke.green {
    stroke: #76B13C;
    opacity: .5;
}
/* Progress marker */
svg.ui-progress-circle #progress.green {
    fill: #76B13C;
}

/* The text in center */
svg.ui-progress-circle #text.blue {
    fill: blue;
}
/* Background of mid circle */
svg.ui-progress-circle #background.blue {
    fill: #F7F6F4;
}
/* Circle stroke around text */
svg.ui-progress-circle #stroke.blue {
    stroke: blue;
    opacity: .5;
}
/* Progress marker */
svg.ui-progress-circle #progress.blue {
    fill: blue;
}