<template name="ProviderDetails">
    <div class="cd-pricing-container">
        <div class="col-md-12">
            <h1>Aetna<small> Primary provider</small></h1>
        </div>
        <ul class="cd-pricing-list cd-bounce-invert">
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <footer class="cd-pricing-footer">
                            <a id="reload-button" class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <footer class="cd-pricing-footer">
                            <a id="refresh-button" class="cd-select" href="#">Refresh data</a>
                        </footer>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="text-center">
            <button type="button" id="delete-button" class="btn btn-danger btn-lg" >Delete provider</button>
            <button type="button" id="edit-button" class="btn btn-default btn-lg"
                    data-toggle="modal" data-target=".bs-edit-provider-modal-lg">Edit provider</button>
        </div>
        <hr>
    </div>

    <div class="modal fade bs-edit-provider-modal-lg" id="providersetup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Edit your credentials</h4>
                </div>
                <div class="modal-body">
                    {{> EditCredentials}}
                </div>
            </div>
        </div>
    </div>

</template>
