<template name="ProviderDetails">
    <div class="cd-pricing-container">
        <div class="col-md-12">
            <h1>Aetna<small> Primary provider</small></h1>
        </div>
        <ul class="cd-pricing-list cd-bounce-invert">
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <footer class="cd-pricing-footer">
                            <a id="reload-button" class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <footer class="cd-pricing-footer">
                            <a id="refresh-button" class="cd-select" href="#">Refresh data</a>
                        </footer>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="text-center">
            <button type="button" class="btn btn-danger btn-lg">Delete provider</button>
            <button type="button" class="btn btn-default btn-lg">Edit provider</button>
        </div>
        <hr>
    </div>

</template>
