<template name="ProviderDetails">
    <div class="cd-pricing-container">
        <div class="col-md-12 cd-pricing-switcher">
            <p class="fieldset pull-left">
                <input type="radio" class="no-uniform" name="duration-1" value="monthly" id="monthly-1" checked="">
                <label for="monthly-1">Aetna</label>
                <input type="radio" class="no-uniform" name="duration-1" value="yearly" id="yearly-1">
                <label for="yearly-1">Other</label>
                <span class="cd-switch"></span>
            </p>
        </div>
        <ul class="cd-pricing-list cd-bounce-invert">
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <header class="cd-pricing-header">
                            <h2>Pharmacy</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">0</span>
                                <span class="cd-duration">mo</span>
                            </div>
                        </header>
                        <div class="cd-pricing-body">

                        </div>
                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                    <li data-type="yearly" class="is-hidden is-ended">
                        <header class="cd-pricing-header">
                            <h2>Pharmacy</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">0</span>
                                <span class="cd-duration">yr</span>
                            </div>
                        </header>
                        <div class="cd-pricing-body">

                        </div>
                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                </ul>
            </li>
            <li class="cd-popular">
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <header class="cd-pricing-header">
                            <h2>Medical</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">0</span>
                                <span class="cd-duration">mo</span>
                            </div>
                        </header>
                        <div class="cd-pricing-body">

                        </div>
                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                    <li data-type="yearly" class="is-hidden is-ended">
                        <header class="cd-pricing-header">
                            <h2>Medical</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">0</span>
                                <span class="cd-duration">yr</span>
                            </div>
                        </header>
                        <div class="cd-pricing-body">

                        </div>
                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible is-ended">
                        <header class="cd-pricing-header">
                            <h2>Dental</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">0</span>
                                <span class="cd-duration">mo</span>
                            </div>
                        </header>
                        <div class="cd-pricing-body">

                        </div>
                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                    <li data-type="yearly" class="is-hidden is-ended">
                        <header class="cd-pricing-header">
                            <h2>Dental</h2>
                            <div class="cd-price">
                                <span class="cd-currency">$</span>
                                <span class="cd-value">0</span>
                                <span class="cd-duration">yr</span>
                            </div>
                        </header>
                        <div class="cd-pricing-body">

                        </div>
                        <footer class="cd-pricing-footer">
                            <a class="cd-select" href="#">Reload data</a>
                        </footer>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</template>
